<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1>Update user</h1>

<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username/">Enter username: </label>
    <input type="text" th:field="*{username}" id="username/">
    <p/>
    <label for="password/">Enter password: </label>
    <input type="text" th:field="*{password}" id="password/">
    <p/>
<!--    <label for="age/">Enter age: </label>-->
<!--    <input type="text" th:field="*{age}" id="age/">-->
<!--    <p>-->
<!--        <label for="programmingLanguage/">Enter programming language: </label>-->
<!--        <input type="text" th:field="*{programmingLanguage}" id="programmingLanguage/">-->
    <p>
        <input type="submit" value="Update"/>
    <p>
</form>
</body>
</html>